.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-outer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.msgs-list {
  border: 1px solid;
  width: inherit;
  min-height: 300px;
}

.send-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: inherit;

}
